<table class="container">
  <tr class="titulo">
    <th>Id</th>
    <th>Data</th>
    <th>Nome do Serviço</th>
    <th>Nome da Cliente</th>
    <th>Valor</th>
    <th>Ações</th>
  </tr>
  <tr *ngFor="let item of lista" class="linhas">
    <td class="linhas">{{item.id}}</td>
    <td class="linhas">{{item.dataDoServico |date: "dd/MM/yyyy"}}</td>
    <td class="linhas">{{item.nomeDoServico}}</td>
    <td class="linhas">{{item.nomeCliente}}</td>
    <td class="linhas">{{item.valor | currency : "BRL"}}</td>
  </tr>
  
</table>